@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-primary: #2563EB;
  --color-secondary: #6f99dd;
  --color-accent: #38BDF8;
}

.dark {
  --color-background: #0f172a;
  --color-foreground: #f1f5f9;
  --color-primary: #3b82f6;
  --color-secondary: #1e2857;
  --color-accent: #0ea5e9;
}

@theme inline {
  --font-title: var(--font-poppins);
  --font-body: var(--font-inter);
  --font-code: var(--font-code);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}