@import "tailwindcss";

:root {
  --color-background: #0F172A;
  --color-foreground: #E2E8F0;

  --color-primary: #2563EB;
  --color-secondary: #1E293B;
  --color-accent: #38BDF8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0F172A;
    --color-foreground: #E2E8F0;
  }
}

@theme inline {
  --font-title: var(--font-poppins);
  --font-body: var(--font-inter);
  --font-code: var(--font-code);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}